@model LibrariDenisKoleci.ViewModels.NewBookViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";

    if (Request.IsAuthenticated)
    {

        <h2>Add a book</h2>
        using (Html.BeginForm("Save", "Books"))
        {
            @Html.ValidationSummary(true, "Something went wrong. Please fix the following errors.")
            <div class="form-group">
                @Html.LabelFor(m => m.Book.Title)
                @Html.TextBoxFor(m => m.Book.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Book.Title)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Book.Author)
                @Html.TextBoxFor(m => m.Book.Author, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Book.Author)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Book.CatgoryID)
                @Html.DropDownListFor(m => m.Book.CatgoryID, new SelectList(Model.Categories, "Id", "Name"), "Select Category", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Book.CatgoryID)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Book.PlaceInShelf)
                @Html.TextBoxFor(m => m.Book.PlaceInShelf, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Book.PlaceInShelf)
            </div>

            @Html.HiddenFor(m => m.Book.Id)
            @Html.AntiForgeryToken()

            <button type="submit" class="btn btn-primary">Save</button>

        }

        @Scripts.Render("~/bundles/jqueryval")
    }
    else
    {
        @Html.Partial("Guest")
    }

}



